<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Nouveau mot de passe - M-Motors</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<main class="login-page login-background-page">

```
<div class="login-background-overlay"></div>

<div class="login-panel-wrapper">
    <div class="login-panel auth-form">

        <h1>Réinitialisation</h1>

        <form th:action="@{/reset-password}" method="post">

            <input type="hidden" name="token" th:value="${token}">

            <div class="form-group">
                <label>Nouveau mot de passe</label>
                <input type="password" name="password" required>
            </div>

            <div class="form-group">
                <label>Confirmer</label>
                <input type="password" name="confirmPassword" required>
            </div>

            <button class="btn-primary">Valider</button>

        </form>

    </div>
</div>
```

</main>

</body>
</html>
